body {
  background-color: rgb(85, 84, 84);
  color: wheat;
  text-align: center;
  font-family: monospace;
  font-size: large;
  margin: 0px;
}

h1 {
  color: white;
}

.head {
  height: 50px;
  width: 100%;
  margin-top: 0;
  position: fixed;
}


input {
  background-color: wheat;
  border-radius: 5px;
  border-color: wheat;
  opacity: 100%;
}

.top-bar li {
  display: inline-block;
  color: white;
  float: right;
  padding: 15px;
  margin: 0;

}

.top-bar ul {
  list-style: none;
}

.input-jobs {
  height: 500px;
  background-image: url("imgs/d3.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  padding-top: 290px;
  font-size: 32px;
  color: white;

}

.input-jobs button {
  height: 40px;
  font-family: monospace;
  border-radius: 10px;
  border-color: rgba(85, 84, 84);
  background-color: rgb(85, 84, 84);
  font-size: 24px;

}
